/* GENERAL */
:root {
    --color-1: #191036;
    --color-2: #342459;
    --color-3: #443170;
    --color-5: #865EE0;
    --color-6: #5B4490;

    --color-valid: #38AC35;
    --color-invalid: rgb(172, 53, 53);
}

.app {
    background-color: var(--color-1);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}


/* AUTH */
.authBox {
    background-color: var(--color-3);
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    padding: 18px;
    min-width: 375px;
}

.authBox>.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem 1.5rem 1rem;
}

.authBox>.header>span {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
}

.authBox>.inputBox {
    display: flex;
    flex-direction: column;
}

.authBox>.inputBox>.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.authBox>.inputBox>.row>.inputWrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
    min-width: 250px;
    position: relative;
}

.authBox>.inputBox>.row>.inputWrap>label {
    font-weight: 700;
    color: rgba(255, 255, 255, 60%);
    margin-bottom: 6px;
}

.authBox>.inputBox>.row>.inputWrap>input {
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--color-6);
    color: white;
    transition: background-color 0.1s ease;
    margin-bottom: 5px;
}

.authBox>.inputBox>.row>.inputWrap>input:hover {
    /* background-color: var(--color-2); */
}

.authBox>.inputBox>.row>.inputWrap>input:focus {
    background-color: var(--color-2);
    outline: none;
}

.authBox>.inputBox>.row>.inputWrap.valid>input {
    outline: 2px solid var(--color-valid);

}

.authBox>.inputBox>.row>.inputWrap.invalid>input {
    outline: 2px solid var(--color-invalid);

}

.authBox>.inputBox>.row>.inputWrap>span {
    font-size: 0.9rem;
    font-weight: 700;
    padding-top: 4px;
    position: absolute;
    bottom: 0;
}

.authBox>.inputBox>.row>.inputWrap>span.validText {
    color: var(--color-valid);
    display: none;
}

.authBox>.inputBox>.row>.inputWrap.valid>span.validText {
    display: inline;
}

.authBox>.inputBox>.row>.inputWrap>span.invalidText {
    color: var(--color-invalid);
    display: none;
}

.authBox>.inputBox>.row>.inputWrap.invalid>span.invalidText {
    display: inline;
}

.authBox>.inputBox>.row>.inputWrap>span.spaceTaker {
    visibility: hidden;
}


.authBox>.footer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.authBox>.footer>.link {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.1s ease;
}

.authBox>.footer>.link:hover {
    color: rgba(255, 255, 255, 50%);
}

.authBox>.footer>.button {
    background-color: var(--color-5);
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.authBox>.footer>.button:hover {
    background-color: var(--color-2);
}

.authBox>.footer>.button:disabled {
    background-color: var(--color-6);
    cursor: default;
}


/* MAIN */
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-1);
    width: 300px;
}

.sidebar>.header {
    font-size: 2.7rem;
    font-weight: 300;
    margin-left: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.sidebar>.searchWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidebar>.searchWrap>input {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: var(--color-3);
    color: white;
    transition: background-color 0.1s ease;
    margin-bottom: 5px;
}

.sidebar>.searchWrap>input:focus {
    outline: none;
}

.sidebar>.searchWrap>input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.sidebar>.searchWrap>input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 45%);
    ;
    opacity: 1;
}

.sidebar>.searchWrap>input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 45%);
}

.sidebar>.chatList>.chatItem {
    display: block;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding: 0.75rem;
    align-items: baseline;
    flex-wrap: wrap;
}

.sidebar>.chatList>.chatItem.active {
    background-color: var(--color-3);
}

.sidebar>.chatList>.chatItem>.id {
    font-weight: 700;
    font-size: 1rem;
}

.sidebar>.chatList>.chatItem>.url {
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 65%);
    margin-left: 5px;
}

.chatPane {
    width: 100%;
    height: 100%;
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chatPane>.inputWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.chatPane>.inputWrap>input {
    flex-grow: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--color-2);
    color: white;
    transition: background-color 0.1s ease;
}

.chatPane>.inputWrap>input:focus {
    outline: none;
}

.chatPane>.inputWrap>button {
    background-color: var(--color-1);
    color: rgba(255, 255, 255, 70%);
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
}

.chatPane>.messages {
    height: max-content;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-bottom: 0.5rem;
}

.chatPane>.messages::-webkit-scrollbar {
    width: 10px;
}

.chatPane>.messages::-webkit-scrollbar-thumb {
    background-color: var(--color-5);
    width: 10px;
    border-radius: 4px;
}

.chatPane>.messages::-webkit-scrollbar-track {
    background-color: var(--color-3);
    width: 10px;
}


/* .chatPane>.messages * {
    overflow-anchor: none;
}

.chatPane>.messages>.anchor {
    overflow-anchor: auto;
    height: 1px;
} */

.chatPane>.messages>.message {
    white-space: nowrap;
    background-color: var(--color-6);
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 8px;
    display: flex;
}

.chatPane>.messages>.message.me {
    background-color: var(--color-2);
}

.chatPane>.messages>.message>.from {
    font-weight: 700;
    margin-right: 0.5rem;
}

.chatPane>.messages>.message>.text {
    flex-grow: 1;
    white-space: normal;
    overflow-wrap: break-word;
}

.chatPane>.messages>.message>.status {
    justify-self: end;
}

.chatPane>.messages>.message>.time {
    justify-self: end;
}
